*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
}

.date{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin: 20px 0;
    color: aliceblue;
}

.form-control{
    width: 500px;
    margin:  0 auto;
}

.box{
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

img{
    width: 150px;
}

.card{
    padding: 20px;
    box-shadow: 16px 12px 11px 2px rgba(221, 24, 24, 0.2);
    transition: 1s;
}

.card:hover{
    transform: scale(1.1);
    transition: 1s;
    
}



.form {
    display: flex;
    column-gap: 20px;
    width: 700px;
    margin: 0 auto;
    align-items: center;
}